* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0a0a0a;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow: hidden;
}

.header {
  display: flex;
  gap: 0.5em;
  font-size: 2rem;
  color: lightseagreen;
  z-index: 1;
}

.game-container {
  display: grid;
  grid-template: 10% 1fr / 1fr;
  gap: 0.6em;
  padding: 1.8em;
  height: 595px;
  width: 535px;
  background-color: black;
  border: solid 2px lightseagreen;
  border-radius: 5px;
  z-index: 1;
}

.player-turn {
  color: lightseagreen;
  text-align: center;
}

.board-container {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  border-collapse: collapse;
  border: solid 2px lightseagreen;
}

.board-container button {
  font-size: 6rem;
  background-color: black;
  color: lightseagreen;
}

.board-container button:hover {
  background-color: rgb(39, 43, 42);
  cursor: pointer;
}

form {
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 3em 2.5em;
  font-size: 1.5rem;
  color: lightseagreen;
}

form input[type="text"] {
  padding: 5px;
  font-size: 1rem;
  background-color: black;
  color: lightseagreen;
  border: solid 2px lightseagreen;
  border-radius: 5px;
}

form input[type="text"]:hover,
form input[type="text"]:focus {
  background-color: rgb(39, 43, 42);
}

form div {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.choose input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.choose label {
  display: inline-block;
  background-color: black;
  padding: 10px;
  font-size: 1.1rem;
  border: solid 2px lightseagreen;
  border-radius: 5px;
}

.choose label:hover {
  background-color: rgb(39, 43, 42);
  cursor: pointer;
}

.choose input[type="radio"]:focus + label {
  border: solid 2px white;
}

.choose input[type="radio"]:checked + label {
  border-color: white;
}

.submit {
  justify-content: center;
}

#play {
  padding: 10px 1.5em;
  font-size: 1.1rem;
  background-color: black;
  color: lightseagreen;
  border: solid 2px lightseagreen;
  border-radius: 5px;
  cursor: pointer;
}

#play:hover {
  background-color: rgb(39, 43, 42);
}

.alert {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 535px;
  padding: 1.5em;
  font-size: 2rem;
  border: solid 2px lightseagreen;
  border-radius: 5px;
  background-color: black;
  color: lightseagreen;
  position: absolute;
  z-index: 1;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button {
  width: 35%;
  background-color: black;
  font-size: 1.2rem;
  color: lightseagreen;
  padding: 10px 0;
  border: solid 2px lightseagreen;
  border-radius: 5px;
  z-index: 1;
}

.buttons button:hover {
  background-color: rgb(39, 43, 42);
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}


/* animations */

.alert-opacity-low {
  animation-name: alert-opacity-low;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes alert-opacity-low {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.alert-opacity-high {
  animation-name: alert-opacity-high;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

@keyframes alert-opacity-high {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.animate.pop {
  animation-duration: 1s;
  animation-delay: 0.5;
  animation-name: animate-pop;
  animation-fill-mode: backwards;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.delay-1 {
  animation-delay: 0.6s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}
    
.delay-2 {
  animation-delay: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}
    
.delay-3 {
  animation-delay: 0.8s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

.delay-4 {
  animation-delay: 1s;
}


.back-shapes img {
  opacity: 0.2;
  position: absolute;
  width: 1.5%;
}

.floating {
  position: absolute;
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.floating.circle {
  display: inline-block;
  width: 39px;
  height: 39px;
  color: lightseagreen;
  font-size: 4.4rem;
  opacity: 0.5;
}

.floating.cross {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: lightseagreen;
  font-size: 3rem;
  opacity: 0.5;
}

@keyframes floating {
  0% {
    transform: translateY(0%) rotate(-55deg);
  }
  50% {
    transform: translateY(300%) rotate(55deg);
  }
  100% {
    transform: translateY(0%) rotate(-55deg);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(300%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}